
@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Special+Elite&display=swap');

body {
  background-color: #d7e5fe;
  font-family: 'Kanit', sans-serif;
  font-family: 'Special Elite', cursive;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.app {
  display: flex;
  flex-direction: column;
}

.puppy-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.puppy {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.img-circle {
  border-radius: 50%;
  object-fit: cover;
  width: 230px;
  height: 230px;
}

.title {
  text-align: center;
}

.nav {
  text-align: center;
  color: black;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.createnew {
  text-align: center;
}

/* .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 3rem 2rem 3rem;
} */

.cards li:nth-of-type(8n+1) {
  background-image: url('/images/puppy1.jpg');
  float: left;
  width:  100px;
  height: 100px;
  object-fit: cover;
}


.cards li:nth-of-type(8n+2) {
  background-image: url('/images/puppy2.jpg');
  float: left;
  width:  100px;
  height: 100px;
  object-fit: cover;
}

.cards li:nth-of-type(8n+3) {
  background-image: url("/images/puppy3.jpg");
  float: left;
  width:  100px;
  height: 100px;
  object-fit: cover;
}
.cards li:nth-of-type(8n+4) {
  background-image: url("/images/puppy4.jpg");
  float: left;
  width:  100px;
  height: 100px;
  object-fit: cover;
}

.cards li:nth-of-type(8n+5) {
  background-image: url("/images/puppy5.jpg");
  float: left;
  width:  100px;
  height: 100px;
  object-fit: cover;
}

.cards li:nth-of-type(8n+6) {
  background-image: url("/images/puppy6.jpg");
  float: left;
  width:  100px;
  height: 100px;
  object-fit: cover;
}

.cards li:nth-of-type(8n+7) {
  background-image: url("/images/puppy7.jpg");
  float: left;
  width:  100px;
  height: 100px;
  object-fit: cover;
}

.cards li:nth-of-type(8n+8) {
  background-image: url("/images/puppy8.jpg");
  float: left;
  width:  100px;
  height: 100px;
  object-fit: cover;
}