
@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Special+Elite&display=swap');

body {
  background-color: #d7e5fe;
  font-family: 'Kanit', sans-serif;
  font-family: 'Special Elite', cursive;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.app {
  display: flex;
  flex-direction: column;
}

.puppy-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.puppy {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.img-circle {
  border-radius: 50%;
  object-fit: cover;
  width: 230px;
  height: 230px;
}

.title {
  text-align: center;
}

.nav {
  text-align: center;
  color: black;
}

 .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
  
  /* font-family: 'Roboto', sans-serif; */
}


/* .form {
  display: grid;
  grid-template-columns: 200px  300px;
  grid-auto-flow: row;
  grid-gap: 0.8em;
  padding: 1.1em;
  width: max-content;
} */

@media (max-width:630px) {
  .form {
    margin-left: 2rem;
    grid-template-columns: 300px;
  }
}

.createnew {
  text-align: center;
}

label {
  display: inline-block;
  min-width: 90px;
  text-align: right;
  vertical-align: top;
  font-weight: bold;
}

@media (max-width:630px) {
  label {
    text-align: left;
  }
}


/* .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 3rem 2rem 3rem;
} */

/* .cards li:nth-of-type(8n+1) {
  background-image: url('/images/puppy1.jpg');
  float: left;
  width:  100px;
  height: 100px;
  object-fit: cover;
} */


/* .cards li:nth-of-type(8n+2) {
  background-image: url('/images/puppy2.jpg');
  float: left;
  width:  100px;
  height: 100px;
  object-fit: cover;
}

.cards li:nth-of-type(8n+3) {
  background-image: url("/images/puppy3.jpg");
  float: left;
  width:  100px;
  height: 100px;
  object-fit: cover;
}
.cards li:nth-of-type(8n+4) {
  background-image: url("/images/puppy4.jpg");
  float: left;
  width:  100px;
  height: 100px;
  object-fit: cover;
}

.cards li:nth-of-type(8n+5) {
  background-image: url("/images/puppy5.jpg");
  float: left;
  width:  100px;
  height: 100px;
  object-fit: cover;
}

.cards li:nth-of-type(8n+6) {
  background-image: url("/images/puppy6.jpg");
  float: left;
  width:  100px;
  height: 100px;
  object-fit: cover;
}

.cards li:nth-of-type(8n+7) {
  background-image: url("/images/puppy7.jpg");
  float: left;
  width:  100px;
  height: 100px;
  object-fit: cover;
}

.cards li:nth-of-type(8n+8) {
  background-image: url("/images/puppy8.jpg");
  float: left;
  width:  100px;
  height: 100px;
  object-fit: cover;
} */